<% content_for :title, "StickerSwap" %>
<section id="hero">
  <article>

    <div id="redblocktop">
      <h2 class = "text-center">Hello!</h2>
      <h5 class = "text-center">Welcome to</h5>
    </div>
    <!--
    <div id="image" class = "text-center">
      <img class="img-fluid" id="logo" src="/assets/StickerLogo.png">
      </img>
    </div>-->

    <div class = "container-fluid text-center">
      <h2 id="logo"> StickerSwap </h2>
    </div>

    <div id="redblockbot">
      <!--<div class = "container-fluid">
        <div id="about" class = "text-center">
          <h5>
            An online community to trade Stickers!!
          </h5>
        </div>
      </div>-->
    </div>

  </article>
</section>
